:root {
  --basic-gray: #EEEEEE;
  --basic-red: #FB565A;
  --basic-green: #00CA74;
  --basic-yellow: #EFC849;
  --basic-black: #283136;
  --basic-white: #ffffff;
  --dark-black: #000000;
  --hover-red: #E74246;
  --active-red: #D7373B;
  --hover-green: #00BC6C;
  --active-green: #00AA62;
  --hover-yellow: #EAB534;
  --active-yellow: #E5A722;
  --gray: #666666;
  --input-white: #D7DCDE;
  --input-black: #444444;
  --hover-white: #B4B9BB;
}

body {
  min-width: 1157px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial",sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.hidden {
  display: none;
}

/* Main navigation */
.main-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--dark-black);
  background-color: var(--basic-gray);
  text-transform: uppercase;
  display: grid;
  outline: 5px solid rgba(182, 228, 17, 0.3);
  outline-offset: -5px;
  width: 1160px;
  grid-template-columns: 160px 1fr min-content;
  margin: 0 auto;
  padding: 0 10px;
}

.footer {
  outline: 5px solid rgba(199, 34, 34, 0.3);
  outline-offset: -5px;
  display: grid;
  width: 1060px;
  grid-template-columns: 1fr 1fr;
  column-gap: 139px;  
}

.main-header-logo {
  outline: 5px solid rgba(38, 0, 255, 0.3);
  outline-offset: -5px;
}

.site-navigation {
  list-style: none;
  outline: 5px solid rgba(47, 96, 119, 0.3);
  outline-offset: -5px;
  margin: 0;
  padding: 0;
}
/*Задал ширину контейнера по ширине карты, не знаю правильно ли это*/
.container {
  outline: 5px solid rgba(47, 119, 57, 0.3);
  outline-offset: -5px;
  width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}

.site-navigation a {
  color: var(--dark-black);
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-red);
}

.site-navigation a:active {
  color: inherit;
}

.navigation-cart {
  outline: 5px solid rgba(171, 189, 73, 0.3);
  outline-offset: -5px;
}
.cart {
  color: var(--dark-black);
}

.cart:hover,
.cart:focus {
  color: var(--basic-red);
}

.cart:active {
  color: inherit;
}

.slider {
  list-style: none;
  background-color: var(--basic-gray);
  outline: 5px solid rgba(9, 121, 226, 0.3);
  outline-offset: -5px;
  width: 1157px;
  margin-bottom: 80px;
}

.slide-1 {
  outline: 5px solid rgba(245, 7, 7, 0.3);
  outline-offset: -5px;
  display: grid;
  grid-template-columns: min-content 760px;
  margin: 0;
  padding: 0;
}

.slide-2 {
  outline: 5px solid rgba(245, 7, 7, 0.3);
  outline-offset: -5px;
  display: grid;
  grid-template-columns: min-content 760px;
  margin: 0;
  padding: 0;
}

.slide-3 {
  outline: 5px solid rgba(245, 7, 7, 0.3);
  outline-offset: -5px;
  display: grid;
  grid-template-columns: min-content 760px;
  margin: 0;
  padding: 0;
}

.slide-header-1 {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.slide-header-2 {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.slide-header-3 {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.button-slider {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--basic-black);
  text-align: center;
  vertical-align: middle;
  background-color: var(--basic-red);
}

.button-slider:hover,
.button-slider:focus {
  background-color: var(--hover-red);
}

.button-slider:active {
  background-color: var(--active-red);
}

.services-list {
  outline: 5px solid rgba(20, 197, 168, 0.3);
  outline-offset: -5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1100px;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  column-gap: 100px;
}

.services-list li {
  outline: 5px solid rgba(20, 197, 168, 0.3);
  outline-offset: -5px;
}

.services-list {
  list-style: none;
}

.services-list h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.services-button-red {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  text-align: center;
  vertical-align: middle;
  background-color: var(--basic-red);
}

.services-button-red:hover,
.services-button-red:focus {
  background-color: var(--hover-red);
}

.services-button-red:active {
  background-color: var(--active-red);
}

.services-button-green {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  text-align: center;
  vertical-align: middle;
  background-color: var(--basic-green);
}

.services-button-green:hover,
.services-button-green:focus {
  background-color: var(--hover-green);
}

.services-button-green:active {
  background-color: var(--active-green);
}

.services-button-yellow {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  text-align: center;
  vertical-align: middle;
  background-color: var(--basic-yellow);
}

.services-button-yellow:hover,
.services-button-yellow:focus {
  background-color: var(--hover-yellow);
}

.services-button-yellow:active {
  background-color: var(--active-yellow);
}

.about {
  outline: 5px solid rgba(197, 171, 20, 0.3);
  outline-offset: -5px;
  display: grid;
  grid-template-columns: min-content 360px;
  column-gap: 149px;
  width: 1174px;
  margin-bottom: 73px;
}

.about-us {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--dark-black);
}

.about-us-order {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.accuracy {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--dark-black);
  }

.accuracy-items-item {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  color: var(--dark-black);
  list-style: none;
}

.accuracy-items-item sup {
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
  color: var(--dark-black);
}

.accuracy-definition {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
}

.companies-list {
  outline: 5px solid rgba(107, 156, 116, 0.3);
  outline-offset: -5px;
  display: grid;
  grid-template-columns: 199px 209px 185px 173px;
  width: 1159px;
  margin-bottom: 44px;
  list-style: none;
}

.contacts-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--dark-black);
}

.cotacts-address {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--gray);
}

.contacts-phone {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--gray);
}

.button-writeus {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  text-align: center;
  vertical-align: middle;
  background-color: var(--basic-red);
}

.invitation {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: var(--dark-black);
}

.invitation-discount {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--input-black);
}

.modal-header {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: var(--dark-black);
}

.form-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--dark-black);
}

.form-name-input {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--input-black);
  border: 2px solid var(--input-white);
}

.form-name-input:hover {
  border: 2px solid var(--hover-white);
}

.form-name-input:focus {
  border: 2px solid var(--dark-black);
}

.form-name-input:invalid {
  border: 2px solid var(--hover-red);
}

.form-email {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--dark-black);
}

.form-email-input {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--input-black);
  border: 2px solid var(--input-white);
}

.form-message {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--dark-black);
}

.form-textarea-input {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--input-black);
  border: 2px solid var(--input-white);
}

.button-form-submit {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  text-align: center;
  vertical-align: middle;
  background-color: var(--basic-red);
  border: none;
}

.page-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--dark-black);
  background-color: var(--basic-gray);
}

.filter-form-cost-fieldset {
  border: none;
}

.filter-cost {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--dark-black);
  text-transform: uppercase;
}

.filter-cost-from {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}
.filter-cost-from input {
  background-color: var(--basic-gray);
  border: none;
  text-align: center;
  vertical-align: middle;
}

.filter-cost-to {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.filter-cost-to input {
  background-color: var(--basic-gray);
  border: none;
  text-align: center;
  vertical-align: middle;
}

.filter-grid-fieldset {
  border: none;
}

.filter-grid {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--dark-black);
  text-transform: uppercase;
}

.filter-grid-items {
  list-style: none;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-black);
}
.filter-grid-items:hover {
}

/* Не знаю как прописать правило для заблокирован из стайл гайда
.filter-grid-items:disabled {
}
*/

.filter-features-fieldset {
  border: none;
}

.filter-features {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--dark-black);
  text-transform: uppercase;
}

.filter-features-items {
  list-style: none;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-black);
}

.filter-features-items:hover {
}

.filter-features-items:disabled {
}

.button-filter {
  background-color: var(--basic-gray);
  border: none;
  border-radius: 3px;
  text-align: center;
  vertical-align: middle;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.sort-definition {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--dark-black);
  text-transform: uppercase;
}

.sort-items {
  list-style-type: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--dark-black);
  opacity: 0.3;
  text-transform: uppercase;
}
/*Не знаю как правильно прописать прозрачность при наведении и когда пункт выбран*/
.sort-items:hover {
  opacity: 0.6;
}
.sort-items:active {
}

.sort-arrows {
  list-style: none;
}

.catalog-list {
  list-style: none;
  background-color: var(--basic-gray);
}

.catalog-item a {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--dark-black);
}
.catalog-item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--gray);
  text-align: center;
}

.button-catalog {
  background-color: var(--basic-red);
  border: none;
  border-radius: 3px;
  color: var(--basic-black);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.button-catalog:hover {
  background-color: var(--hover-red);
}

.button-catalog:active {
  background-color: var(--active-red);
}

.catalog-pages {
  background-color: var(--basic-gray);
  list-style: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--dark-black);

}
